// Lower bounds for each breakpoint
$desktop: 70em;
$laptop: 64em;
$tablet: 50em;
$mobile: 37.5em;


@mixin breakpoint($point) {
   @if $point == desktop {
     @media (min-width: $desktop) { @content ; }
  }
   @else if $point == laptop {
     @media  (max-width: $desktop) { @content ; }
  }
    @else if $point == tablet {
     @media (max-width: $laptop) { @content ; }
  }
  @else if $point == mobile {
     @media (max-width: $tablet)  { @content ; }

  }
}
