// Color definitions
// $jd-dark-blue: #1c6087;
// $jd-light-blue: #0096b4;
// $jd-orange: #ff8c06;
$jd-dark-dark-blue: #051832;
$jd-text-gray: #575a5f;

// New colors 11/15
$jd-dark-blue: #00769c;
$jd-orange: #d5176e;
$jd-light-blue: #6fccdd;

// Font definitions
$jd-sans: Montserrat, sans-serif;

@mixin orange-bg {
  background-color: $jd-orange;
  color: white;
}

.orange-bg {
  background-color: $jd-orange !important;
  color: white !important;
}

.dark-blue-bg {
  background-color: $jd-dark-blue !important;
  color: white !important;
}

.light-blue-bg {
  background-color: $jd-light-blue !important;
  color: white !important;
}

.light-blue-bg:hover {
  background-color: $jd-dark-blue !important;
}

.caps {
  text-transform: uppercase;
}

.extra-bold-m {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

.bold-m {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.medium-m {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.light-m {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.dark-blue-color {
  color: $jd-dark-blue;

  strong {
    color: $jd-dark-blue;
  }
}

.light-blue-color {
  color: $jd-light-blue;

  strong {
    color: $jd-light-blue;
  }
}

.orange-color {
  color: $jd-orange;
}

.text-gray-color {
  color: $jd-text-gray;

  strong {
    color: inherit;
  }
}

.standard-text {
  font-size: 15px !important;
  line-height: 22px;
  font-family: $jd-sans;
  color: $jd-text-gray;
}

.subheader-size {
  font-size: 28px !important;
  line-height: 34px;
  font-family: $jd-sans;
}

.font-size-25 {
  font-size: 25px;
  line-height: 28px;
  font-family: $jd-sans;
  margin-bottom: 10px;
}

.font-size-16 {
  font-size: 14px;
  line-height: 22px;
}

.font-size-20 {
  font-size: 16px;
  line-height: 17px;
}

.center-contents-column {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.text-align-center {
  text-align: center;
}

.spinner {
  width: 2rem;
  height: 2rem;
  border: 0.25rem solid $jd-orange;
  border-bottom: 0.25rem solid rgba(0, 0, 0, 0);
  border-radius: 50%;
  animation: spin 1s linear infinite;
  z-index: 9999;
}

.spinner--hidden {
  display: none;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
