// Color definitions
$jd-dark-blue: #1c6087;
$jd-light-blue: #0096b4;
$jd-orange: #ff8c06;

// Font definitions
$jd-sans: Montserrat, sans-serif;

@mixin orange-bg {
  background-color: $jd-orange;
  color: white;
}

.orange-bg {
  background-color: $jd-orange;
  color: white;
}

.dark-blue-bg {
  background-color: $jd-dark-blue;
  color: white;
}

.light-blue-bg {
  background-color: $jd-light-blue;
  color: white;
}

.caps {
  text-transform: uppercase;
}

.extra-bold-m {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

.bold-m {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.medium-m {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.light-m {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
