// Color definitions
$jd-dark-blue: #1c6087;
$jd-light-blue: #0096b4;
$jd-orange: #ff8c06;
$jd-dark-dark-blue: #051832;
$jd-text-gray: #575a5f;

// Font definitions
$jd-sans: Montserrat, sans-serif;

@mixin orange-bg {
  background-color: $jd-orange;
  color: white;
}

.orange-bg {
  background-color: $jd-orange !important;
  color: white !important;
}

.dark-blue-bg {
  background-color: $jd-dark-blue !important;
  color: white !important;
}

.light-blue-bg {
  background-color: $jd-light-blue !important;
  color: white !important;
}

.caps {
  text-transform: uppercase;
}

.extra-bold-m {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

.bold-m {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.medium-m {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.light-m {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.dark-blue-color {
  color: $jd-dark-blue;
}

.light-blue-color {
  color: $jd-light-blue;

  strong {
    color: $jd-light-blue;
  }
}

.orange-color {
  color: $jd-orange;
}

.text-gray-color {
  color: $jd-text-gray;

  strong {
    color: inherit;
  }
}

.standard-text {
  font-size: 15px !important;
  line-height: 22px;
  font-family: $jd-sans;
  color: $jd-text-gray;
}

.subheader-size {
  font-size: 28px !important;
  line-height: 34px;
  font-family: $jd-sans;
}

.font-size-25 {
  font-size: 25px;
  line-height: 28px;
  font-family: $jd-sans;
}

.center-contents-column {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
