@import "includes/includes";

.banner-container {
  height: 400px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 75px;
  text-align: right;

  .page-contents {
    justify-content: flex-end;
  }

  .banner-text {
    float: right;
    margin-right: 50px;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 60px;
    text-transform: uppercase;
    line-height: 55px;

    .banner-text-bold {
      font-weight: 800;
    }

    .banner-text-light {
      font-weight: 300;
    }
  }
}

@include breakpoint(mobile) {
  .banner-container {
    height: 400px;
    background-position-x: left;
    background-position-y: 50px;

    .banner-text {
      font-size: 40px;
      line-height: 35px;
    }
  }
}
