@import "./includes/_vars";

.candidates {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1120px;
}

.page-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px;
}

.candidate-intro-section {
  max-width: 1080px;

  .stat-container {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;

    .stat {
      border-bottom: 1px solid $jd-light-blue;
      font-size: 28px;

      &:last-child {
        border: none;
      }
    }
  }
}
