@import "./includes/_vars";
@import "includes/includes";

.candidates {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1120px;
}

.candidates:after {
  content: "";
  flex: auto;
}

.page-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px;
}

.candidate-intro-section {
  max-width: 1080px;

  .stat-container {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;

    .stat {
      border-bottom: 1px solid $jd-light-blue;
      font-size: 28px;

      &:last-child {
        border: none;
      }
    }
  }
}

.sort-options {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  max-width: 1080px;
  display: flex;
  justify-content: space-between;

  @include breakpoint(mobile) {
    flex-wrap: wrap;
  }

  .sort-button {
    border-radius: 0px;
    color: $jd-dark-blue;
    border: 1px solid $jd-dark-blue;
    text-transform: none;
    font-size: 15px;
    display: block;
    letter-spacing: 0px;
    width: 19%;

    @include breakpoint(mobile) {
      width: 100% !important;
    }

    &.selected,
    &:hover {
      color: $jd-light-blue;
      border: 1px solid $jd-light-blue;
    }
  }

  .orange-border {
    border: 1px solid $jd-orange;
    &:hover {
      border: 1px solid $jd-orange;
    }
  }
}
