@import "./includes/_vars";

div.candidates {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.candidate-intro-section {
  .stat-container {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;

    .stat {
      border-bottom: 1px solid $jd-light-blue;
      font-size: 28px;

      &:last-child {
        border: none;
      }
    }
  }
}
