@import "./includes/_vars";

.home-header-b {
  font-size: 83px;
  color: $jd-dark-blue;
}

.home-header-w {
  font-size: 83px;
  color: white;
}

.home-subheader-b {
  font-size: 56px;
  color: $jd-light-blue;
}

.button-text {
  font-size: 44px !important;
}

.callout-b {
  font-size: 35px !important;
  color: $jd-dark-blue;
}
