@import "./includes/_vars";

.home-header-b {
  font-size: 42px;
  line-height: 42px;
  color: $jd-light-blue;
}

.home-header-w {
  font-size: 115px;
  line-height: 110px;
  color: white;
}

.home-subheader-b {
  font-size: 28px;
  line-height: 28px;
  color: $jd-light-blue;
  margin-top: 10px;
}

.callout-button {
  margin-top: 10px;
}

.plain-button {
  border-radius: 0px !important;
  border: none !important;
  width: 400px;
  text-align: center;
  font-size: 25px;
  padding: 10px 90px 10px 90px;
}

.full-width-button {
  border-radius: 0px !important;
  border: none !important;
  width: 100%;
  text-align: center;
  font-size: 25px !important;
  // padding: 10px 90px 10px 90px !important;
}

.callout-b {
  font-size: 17px !important;
  color: $jd-dark-blue;
  padding-left: 20px;
}

.flex-child > input {
  background-color: rgba(0, 0, 0, 0) !important;
  border: 1px solid $jd-dark-blue !important;

  &::-webkit-input-placeholder {
    color: $jd-dark-blue;
    font-weight: 700;
  }
}

.primary-issue-text {
  background-color: $jd-light-blue;
  width: 100%;
  color: white;
  text-transform: uppercase;
  height: 110px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 900;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  &::hover {
    color: white;
  }
}

.standard-padded-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.block-body {
  padding: 40px;
  padding-top: 60px;
  max-width: 1120px;
}

.sign-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;

  .sign-up-el {
    width: 20%;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0px;
  }
}

.sign-up-button {
  width: 100%;
}

.sign-up-input {
  background: none !important;
  border: 1px solid $jd-dark-blue !important;

  &::placeholder {
    color: $jd-dark-blue;
    font-family: $jd-sans;
    font-size: 16px;
  }
}

.sign-up-rows {
  padding: 15px;

  .sign-up-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .sign-up-el {
      width: 49%;
      margin-top: 5px;
    }

    .sign-up-button-container {
      width: 100%;
    }
  }
}

.callout-container {
  padding: 20px 10px;
  border-top: 1px dotted orange;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    height: 45px;
  }
}
