@import "includes/includes";

div.map-geocoder {
  display: flex;
  position: relative;
  padding: 10px;
  input[type="text"] {
    flex-grow: 1;
    border-radius: 0;
    font-size: 16px;
    margin-bottom: 0;
  }

  div.map-suggest {
    &:before {
      content: "SUGGESTION";
      position: absolute;
      margin-top: -10px;
      margin-left: -2px;
      font-size: 8px;
      font-weight: bold;
      color: lightgray;
      z-index: 200;
    }

    position: absolute;
    top: calc(100% - 10px);
    background-color: white;
    border: solid 1px lightgray;
    width: calc(100% - 10px);
    padding: 15px 10px 5px;
    z-index: 100;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    span {
      color: $jd-text-gray;
      font-size: 14px;
      position: relative;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 100%;
      overflow: hidden;
      display: inline-block;
    }

    &.map-take-suggestion,
    &:hover {
      background-color: whitesmoke;
      cursor: pointer;
    }
  }
}
