@import "includes/includes";

.zoom-control {
  // max-width:30px;
  // overflow: hidden;
  margin: 10px;

  button {
    margin-bottom: 0;
    border-radius: 0;
    padding: 0;
  }
}

.map-container {
  font-family: $jd-sans;
  padding-top: 100px;
  height: 100vh;
  width: 100vw;
  flex: 1;
  flex-direction: row;
  display: flex;

  .map-area {
    flex-grow: 1;
    height: 100%;
    flex-shrink: 100;
    position: relative;

    .mapboxgl-map {
      .mb-mkr-hovered-state {
        margin-top: -30px !important;
      }
    }

    .map-legends {
      position: absolute;
      bottom: 5px;
      right: 5px;
      padding: 5px;
      font-size: 10px;
      background-color: white;
      border: solid 1px lightgray;

      h5 {
        font-weight: 600;
        font-size: 12px;
      }
      .map-leg-clr {
        flex: 1;
        display: flex;
        padding-right: 15px;
        margin-top: 15px;
        .map-splt-clr {
          position: relative;
          flex-grow: 1;
          flex-basis: 0;
          margin-left: 2px;
          width: 25px;
          height: 10px;
          &:first-child {
            margin-left: 0;
          }

          .map-splt-lbl {
            bottom: 100%;
            position: absolute;
            right: 0;
            transform: translateX(50%);
          }
        }
      }
    }
  }

  .activity-area {
    width: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow: auto;

    h4 {
      padding: 10px 10px 0;
      text-transform: uppercase;
      font-weight: 800;
      font-size: 12px;
    }
    .aa-candidate-container {
      padding: 10px;
      background-color: whitesmoke;
      .map-popup {
        background-color: whitesmoke;
        .candidate-profile .candidate-pic {
          width: 70px;
          height: 55px;
        }
      }
    }
    .aa-stats,
    .aa-candidate-container {
      background-color: whitesmoke;
      margin: 7px;
      flex-grow: 1;
      margin-top: 0;

      .map-state-stat {
        padding: 10px;

        &:hover {
          background-color: #efefef;
          cursor: pointer;
        }

        .state-stat-lbl {
          display: flex;
          align-items: flex-end;

          .state-stat-nm {
            font-size: 18px;
            flex-grow: 1;
          }
          .state-stat-totals {
            font-size: 14px;
          }
        }

        .state-stat-viz {
          height: 25px;
          border-radius: 2px;
          background-color: #d8d8d8;

          .state-stat-cmplt {
            height: 25px;
            border-radius: 2px;
            background-color: $jd-dark-blue;
          }
        }
      }
    }
  }

  .map-hover,
  .map-popup {
    background-color: white;
    color: $jd-text-gray;
    border-radius: 2px;
    font-family: $jd-sans;
    h3 {
      font-size: 14px;
      color: $jd-dark-blue;
      font-weight: 600;
      margin-bottom: 4px;
    }
    table {
      font-size: 12px;
      padding: 0;
      border-top: 2px solid $jd-dark-dark-blue;
      margin: 0;

      th {
        padding: 5px 0px;
        border-bottom: 1px solid $jd-dark-dark-blue;
      }
      td {
        width: 50px;
        padding: 5px 0px;
        text-align: right;
        border-bottom: 1px solid $jd-dark-dark-blue;
      }
    }

    span.note {
      font-size: 8px;
      text-transform: uppercase;
      color: $jd-text-gray;
      display: block;
      text-align: center;
    }
  }

  .map-hover {
    padding: 0 5px 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }

  .map-popup {
    max-width: 400px;
    .close {
      font-weight: 800;
      text-transform: uppercase;
      position: absolute;
      right: 10px;
      font-size: 10px;
      top: 10px;
      color: lightgray;
      cursor: pointer;
    }
    .actions {
      flex: 1;
      display: flex;
      margin-top: 4px;
      .cta-nominate,
      .cta-donate {
        width: 50%;
        text-align: center;
        color: white;
        font-weight: 600;
        text-transform: uppercase;
      }
      .cta-donate {
        background-color: $jd-orange;
      }
      .cta-nominate {
        background-color: $jd-light-blue;
      }
    }
  }

  .map-popup-candidate,
  .map-cd-candidate-popup {
    .candidate-profile {
      display: flex;
    }
    .candidate-pic {
      width: 60px;
      height: 60px;
      border-radius: 30px;
      background-size: 80px;
      background-position: top center;
    }
    .candidate-info {
      padding-left: 10px;
      h3 {
        margin-bottom: 0;

        &.candidate-name {
          color: $jd-dark-dark-blue;
          span {
            text-transform: uppercase;
            font-size: 10px;
            font-weight: 400;
            color: $jd-orange;
          }
        }
      }

      .candidate-actions {
        a img {
          width: 20px;
          margin-right: 5px;
        }
      }
    }
    .candidate-description {
      margin-top: 5px;
      padding-top: 5px;
      border-top: 1px solid lightgray;
      font-size: 11px;
    }
  }

  .map-cd-candidate-popup {
    padding-top: 10px;

    .candidate-info {
      h3 {
        &.candidate-name {
          display: flex;
          flex-direction: column-reverse;
          span {
            line-height: 10px;
          }
        }
      }
    }
  }
}

.candidate-tag-box {
  display: flex;

  .tag-container {
    width: 40px;
    height: 40px;
    padding: 5px;

    img {
      width: 30px;
      height: 30px;
    }
  }
}
