@import "includes/includes";

.hanger-navbar-container {
  width: 100%;
  overflow: visible;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center !important;
  width: 100%;
  height: 50px;
  z-index: 100000;

  .mobile {
    padding-left: 50px;
    padding-right: 50px;
  }

  .desktop {
    .nav-social-container {
      margin-left: 50px;
    }
  }

  .nav-social-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 80px;

    .nav-social {
      width: 30px;
      height: 30px;
    }
  }
}

.navbar-hanger {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50px;
  width: 100%;
  background-color: rgba($jd-dark-dark-blue, 0.7);

  .hanger-link {
    display: block;
    color: white;
    text-transform: uppercase;
    padding-left: 50px;
    padding-right: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .join {
    background-color: rgba($jd-light-blue, 0.7);
    width: 150px;
  }
}

ul.splash-navbar {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  @include breakpoint(mobile) {
    grid-template-columns: repeat(2, 1fr);
  }
  width: 100%;
  height: 100%;
  li:not(.empty) {
    height: 100px;
    @include breakpoint(mobile) {
      height: 50px;
    }
    width: 100%;
  }
  li.img {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 160px;
    max-width: 600px;
    grid-column-start: 2;
    @include breakpoint(mobile) {
      grid-column-start: 1;
    }
  }
  li.enter-site {
    grid-column-start: 3;
    @include breakpoint(mobile) {
      grid-column-start: 2;
    }
    color: white;
    height: 100%;
    div {
      float: right;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: $jd-orange;
      min-width: 150px;
      max-width: 350px;
      width: 100%;
      height: 100%;
      p {
        font-size: 2.5rem;
        @include breakpoint(mobile) {
          font-size: 1.5rem;
        }
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
}

/* ------------ ------------ ------------ ------------ ------------  */
/* ------------- ----------- BURGERS ------------ ------------ */
/* ------------ ------------ ------------ ------------ ------------  */

/* Position and sizing of burger button */
.bm-burger-button {
  position: relative;
  width: 23px;
  height: 20px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
  width: 100%;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: rgba(255, 255, 255, 0.95);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
  color: $jd-dark-blue;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid $jd-dark-blue;

  &:last-child {
    border: none;
  }

  &::hover {
    background-color: $jd-light-blue;
    color: white;
  }
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
